body {
  background-color: cornsilk;

  font-family: sans-serif;
}

.lane {
  display: inline-block;
  margin: 1em;
  background-color: #efefef;
  border: 1px solid #ccc;
  border-radius: 0.5em;
  min-width: 10em;
  vertical-align: top;
}
.lane-header {
  overflow: auto;
  padding: 1em;
  color: #efefef;
  background-color: #333;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.lane-name {
  float: left;
  padding-top: 2.5%
}

.lane-add-note {
  float: left;
  margin-right: 0.5em;
}
.lane-delete {
  float: right;
    padding-top: 1%;
  margin-left: 0.5em;
  visibility: hidden;
}
.lane-header:hover .lane-delete {
  visibility: visible;
}
.add-lane, .lane-add-note button {
  cursor: pointer;
  background-color: #fdfdfd;
  border: 1px solid #ccc;
}
.lane-delete button {
  padding: 0;
  cursor: pointer;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
}

.note-ul{
    list-style-type: decimal;
    -webkit-padding-start: 2em;
}

.note-ul li{
  margin-bottom: 2em;
    margin-right: 1em;
}

.note-ul li:first-child{
  margin-top: 1.5em;
}

.note-ul li:last-child{
  margin-bottom: 1.5em;
}

.note-ul li:first-child{
  margin-top: 1.5em;
}

.note-ul li:last-child{
  margin-bottom: 1.5em;
}

.add-note {
  margin-left: 0.5em;
  background-color: #fdfdfd; border: 1px solid #ccc;
}

.note-wrapper .note-input{
  margin: 0 0.5em 0 0;
}

.note-wrapper .note {
    margin-left: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 0.5em; padding: 0.5em;
  background-color: #fdfdfd;
  box-shadow: 0 0 0.3em 0.03em rgba(0, 0, 0, 0.3);
}
.note-wrapper .note:hover {
  box-shadow: 0 0 0.3em 0.03em rgba(0, 0, 0, 0.7);
  transition: 0.6s;
}

.note-wrapper .delete-btn{
  padding: 0;
  background-color: #fdfdfd;
  border: none;
  cursor: pointer;
  visibility: hidden;
}

.note-wrapper:hover .delete-btn { visibility: visible;
}